<% provide(:title, "What is the O?") %>

<div class="container">
				<div class="panel-body" style="margin-top: -25px;">
								<h2> Company Mission</h2>Our Mission at <strong>the O</strong> is to provide our clients with a direct, efficient marketing strategy to reach their customers, while providing consumers with the most convenient and simple way to receive exclusive deals from their favorite businesses.</div> 
    <br />

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is the O?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">                
There are two sides to the coin. For our clients, it is an SMS marketing service with on hand support and a skilled team that is dedicated to helping your business grow. For consumers, it is a little gift every month from the places they love.
                </div>
            </div>
        </div>
        <div class="faqHeader">Business Questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What does <strong>the O</strong> do for my Business?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    the O, provides the platform that allows our clients to create custom deals that are sent to their customers directly via text. We eliminate the exhausting search for deals and the fear of missing out on another sale. This is what separates us from other marketing strategies. It is the most convenient and direct form of marketing for businesses, while creating a feel of exclusivity for their customers.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How can I see my business grow?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    the O, tracks our clients' followers and also how many followers are accepting their deals each month. We provide detailed monthly reports, helping our clients to track their company’s growth.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How does this increase my online presence?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    the O, makes it simple for consumers to find their favorite businesses and stay “in the know.” Our team is dedicated to professionally promoting our clients both in person and through an online presence.
                    <br />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How does the O work?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Do you ever have a slow week, slow day or even just a few slow hours? With Rendezvous, our clients can create a custom deal on the spot and move the crowd to them immediately! Deals can be created to last for days or even hours, you stay in control.
                    <ul style="margin-top: 10px;">
                        <li style="margin-top: 10px;">
Customers follow your business in simple steps. All they need to do is visit osaves.com on their computer or smart phone, search your business, and enter their phone number (Customers’ phone numbers are NEVER given out in order to protect their privacy). They will then be logged into your business’ personal database of followers.
																								</li>
																								<li style="margin-top: 10px;">
																								<strong>ONE MONTH FREE TRIAL. NO CONTRACTS. NO RISK.</strong> <br />
$59 monthly flat rate up to 1000 messages per month
																								</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<a href="users/sign_up" class="btn btn-success">Sign Up my Business!</a>
</div>

<style>
    .faqHeader {
        font-size: 23px;
        margin: 20px;
								letter-spacing: -.02em;
    }

</style>