<div style="max-width: 300px;">
		<div class="business-name"><i class="fa fa-comments-o" style="margin-right: 5px;"></i>Feedback
		</div>
		<p>
		<h4 style="font-size: 12px;">Suggest a Local Business in your area!</h4>
  <%= simple_form_for(@suggested) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, input_html: { class: "form-control" }, placeholder: 'Type a Business Name....' %>
  </div>
		<div style="margin-top: 5px;">
  <div class="form-actions">
    <%= f.button :submit, "Submit Suggestion", :class => "btn-glow primary" %>
  </div>
		<% end %>
		</div>
		<div class="small-disclaimer">Disclaimer: Your personal information is important to us. We will never sell or distribute your phone number to any third parties. By using this service you agree to the terms of service outlined in our Privacy Policy.
</div>
</div>