/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require facebox
 *= require font-awesome
 *= require bootstrap
 *= require jasny-bootstrap
 *= require_self
 */

.pricing-box-mobile {
width: 100%;
padding: 15px;
}

.pricing-box-mobile li {
border-radius: 4px;
background: #fff;
padding: 15px;
margin-bottom: 10px;
}

#inner_list {
line-height: 0;
}

#inner_list .inner {
  letter-spacing: -.02em;
		padding: 0;
		margin: 15px 0;
}

#inner_list_callout {
line-height: 0;
border: 2px solid #eee;
margin-bottom: 5px;
}

#inner_list_callout .inner {
  letter-spacing: -.02em;
		padding: 0;
		margin: 15px 0;

}


.plan-box {
width: 220px;
background: #cdcdcd;
display: inline-block;
padding: 10px;
height: 300px;
margin: 0 10px;
border-radius: 8px;
}

.plan-wrapper {
text-align: center;
}

.payment-form {
width: 300px;
padding: 20px;
border-radius: 5px;
background: #ddd;
margin: 0 auto;
}

.trial {
color: #a20039;
font-size: 12px;
}

.account {
color: 161616;
font-size: 12px;
}

.sent-header {
text-transform: uppercase;
font-size: 12px;
margin-bottom: 15px;
margin-left: 20px;
color: #c1c1c1;
}


.header-form {
margin-bottom: 30px;
background: #e1e1e1;
letter-spacing: -.02em;
line-height: 20px;
padding: 10px;
border-radius: 5px;
}

.small-disclaimer {
font-size: 9px;
color: #999;
}

.business-name {
letter-spacing: -.03em;
/* font-weight: 600; */
/* margin: 0 auto; */
font-size: 11px;
}

.business-address {
letter-spacing: -.03em;
float: right;
font-size: 11px;
color: #d7d7d7;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

.logo {
height: 100%;
padding: 2px;
}

.business-results {
width: 100%;
padding: 20px;
max-width: 960px;
margin: 20px auto 0px auto;
font-weight: 600;
font-size: 16px;
-webkit-font-smoothing: subpixel-antialiased;
}

.follow-btn {
float: right;
}

.delete-btn {
font-family: 'FontAwesome';
float: right;
color: #e7e7e7;
}

.delete-btn a:hover {
font-family: 'FontAwesome';
color: #b03232;
}

.message-form {
width: 100%;
border-radius: 4px;
border: 1px solid #ddd;
padding: 20px;
max-width: 960px;
margin: 20px auto 0px auto;
background: #f7f7f7;
font-weight: 600;
font-size: 16px;
}

.search-form {
width: 100%;
border-radius: 4px;
border: 1px solid #7E2676;
padding: 20px;
max-width: 960px;
margin: 20px auto 0px auto;
background: #f7f7f7;
font-weight: 600;
font-size: 16px;
}


.deal-form {
width: 100%;
border-radius: 4px;
border: 1px solid #777;
padding: 20px;
max-width: 960px;
margin: 20px auto 0px auto;
background: #f7f7f7;
font-weight: 600;
font-size: 16px;
}

.edit-form {
width: 70%;
border-radius: 4px;
border: 1px solid #eee;
padding: 20px;
max-width: 960px;
margin: 20px auto 0px auto;
background: #f7f7f7;
font-weight: 600;
font-size: 16px;
}

.stats {
border-bottom: 1px solid #ddd;
margin-top: 10px;
}


.stats_list li {
    display: inline;
				list-style: none;
    margin-right: 20px;
}

.circle {
			margin-left: 5px;
			background: #74b53f;
			border-radius: 50%;
			border: 2px solid #fff;
			padding: 3px 7px;
}

.right-link {
float: right;
}

.navbar-brand {
  font-size: inherit;
  }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  }

.alert {
  margin-left: 22px;
		margin-right: 22px;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
  } 

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  padding-top: 20px;; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem

.authform {
		border-radius: 5px;
		background-color: #f1f1f1;
  padding-top: 30px;
		padding: 10px 20px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}



