<%# navigation styled for Bootstrap 3.0 %>
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>"><img src="../../img/logo.png" alt="logo" /></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <%= render 'layouts/navigation_links' %>
            </ul>
<% if user_signed_in? %>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="dropdown">
                <a href=<%= "/#{@business.slug}" %>>
                    Welcome, <strong><%= @user.business.name rescue "#{@user.name}" %></strong>
                </a>
               </li>
              </ul>
								<% end %>
       </nav>
    </header>

        
